name = "indigo-feed-studio-upload"
main = "src/index.js"
compatibility_date = "2026-09-26"

[vars]
GITHUB_REPOSITORY = "indigo-dm/novyy-gorizont-feed"
GITHUB_SOURCE_BRANCH = "main"
GITHUB_MEDIA_BRANCH = "media"
GITHUB_DATA_BRANCH = "feed-data"
GITHUB_FRONTEND_REPOSITORY = "indigo-dm/feed-studio"
ALLOWED_ORIGIN = "https://indigo-dm.github.io"
ALLOWED_PROJECTS = "novyy-gorizont,vishnevyy-sad,truda-12-3,teatral"
MAX_FILE_BYTES = "10485760"
PUBLIC_ACCESS_PASSWORD_HASH = "8dce592bb594f861bf4b21de5955aa5b64a5547763b0b7ee97cb159572c628a3"
